html {
    /*css de toda a página*/
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff5f3;
}

.logo {
    /*css da imagem no inicio*/
    height: 300px;
    width: auto;
    margin: 10px;
}

#logo {
    /*css da imagem no inicio*/
    text-align: center;
}

.menu-p {
    /*css do menu principal*/
    background-color: bisque;
    height: 50px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
}

.menu-p a {
    /*css do texto no menu principal*/
    text-decoration: none;
    color: black;
    display: block;
}

.menu-p ul {
    /*css da lista no menu principal*/
    width: 100%;
    text-align: center;
    list-style: none;
    position: relative;
}

.semijoias,
.artigos {
    /*css da lista no menu principal*/
    z-index: 2;
    visibility: hidden;
    position: absolute;
    max-height: 0;
    width: 100%;
}

.semijoias li,
.artigos li {
    /*css da sub-lista no menu principal*/
    background-color: rgb(253, 217, 173);
    width: 100%;
    float: none;
}

.li-p {
    /*css da lista no menu principal*/
    line-height: 50px;
    float: left;
    width: 25%;
    margin-left: 0px;
    margin-right: 0px;
}

.li-p:hover ul {
    /*css da lista no menu lateral ao passar o mouse*/
    height: auto;
    max-height: 400px;
    visibility: visible;
}

.botao-menu {
    /*css para esconder o menu lateral quando: janela=+600px*/
    visibility: hidden;
    display: none;
}

@media (max-width: 600px) {
    /*css do menu lateral quando: janela = -600px*/
    .menu-p {
        /*css para esconder o menu principal quando: janela = -600px*/
        visibility: hidden;
        display: none;
    }
    .botao-menu {
        /*css do menu lateral*/
        display: inline-block;
        visibility: visible;
        block-size: 15px;
        z-index: 1;
        position: fixed;
        top: 0px;
    }
    .icone-menu {
        /*css da imagem do menu lateral*/
        width: 40px;
        height: 40px;
        margin: 10px;
        margin-bottom: 0px;
    }
    .menu {
        /*css da lista no menu lateral*/
        margin-left: -500%;
        width: 500px;
    }
    .menu ul {
        /*css da lista no menu lateral*/
        list-style: none;
        position: absolute;
    }
    .menu ul ul {
        /*css da sub-lista no menu lateral*/
        visibility: hidden;
        position: relative;
        overflow: hidden;
        max-height: 0;
        transition: 0.8s;
        width: 100%;
    }
    .menu ul li {
        /*css da lista no menu lateral*/
        width: 100%;
        float: none;
    }
    .menu ul li:hover ul {
        /*css da lista no menu lateral ao passar o mouse*/
        height: auto;
        max-height: 400px;
        visibility: visible;
    }
    .menu ul ul li {
        /*css da sub-lista no menu lateral*/
        float: none;
    }
    .menu ul ul li a {
        /*css do texto na sub-lista no menu lateral*/
        background-color: rgb(253, 217, 173);
        text-align: center;
    }
    .menu a {
        /*css do texto na sub-lista no menu lateral*/
        padding: 10px;
        display: block;
        text-decoration: none;
        text-align: right;
        background-color: bisque;
        color: black;
        cursor: pointer;
    }
    .menu a:hover {
        /*css do texto na sub-lista no menu lateral ao passar o mouse*/
        background-color: rgb(243, 229, 211);
        text-align: left;
    }
    #bt-menu {
        /*css do botão do menu lateral*/
        display: none;
        position: absolute;
        text-align: center;
    }
    #bt-menu:checked~.menu {
        /*css do funcionamento do botão do menu lateral*/
        margin-left: 0;
    }
}

main h1 {
    /*css dos títulos principais*/
    background-color: #eee1b1;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

main h2 {
    /*css dos títulos secundários*/
    background-color: #f0d7aa;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

main a {
    text-decoration: none;
    color: black;
}

.grid-container {
    /*css das grades dos produtos*/
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 20px;
    grid-gap: 0px;
}

.grid-container>div {
    /*css das grades dos produtos, que não afeta o css dos produtos*/
    text-align: center;
    padding: 0 1px;
    font-size: 30px;
    border: #f0d7aa 1px solid;
}

.last-grid-container {
    /*css das ultimas grades ímpares dos produtos*/
    display: grid;
    grid-template-columns: 100%;
    padding-bottom: 20px;
    grid-gap: 0px;
}

.last-grid-container>div {
    /*css das ultimas grades ímpares dos produtos, que não afeta o css dos produtos*/
    text-align: center;
    padding: 0 1px;
    font-size: 30px;
    border: #f0d7aa 1px solid;
}

#produtos {
    /*css dos produtos*/
    display: inline-block;
    position: relative;
    margin: 10px;
    background-color: #dfd1b7;
}

#produtos:hover {
    /*css dos produtos ao passar o mouse*/
    cursor: pointer;
}

.img-produtos {
    /*css das imagens dos produtos*/
    width: 190px;
    height: 190px;
}

.texto-produtos {
    /*css dos textos dos produtos*/
    display: block;
    text-align: center;
    width: 190px;
    font-size: 20px;
}

.sem-estoque {
    /*css das imagem que aparece quando não há itens*/
    margin-left: 10px;
    width: 200px;
    height: auto;
}

.redes {
    /*css do menu de conexão com outras redes*/
    list-style: none;
    display: block;
    margin: 50px auto 100px auto;
    width: 100%;
    text-align: center;
    background-color: #e7d7b8;
}

.redes h1 {
    /*css do título do menu de conexão*/
    background-color: #e2d2b3;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 200px auto 10px auto;
    width: 200px;
    text-decoration: none;
    color: black;
}

.redes li a {
    /*css do texto do menu de conexão*/
    margin: 3px;
}

.redes-sociais {
    /*css das imagens do menu de conexão*/
    width: 40px;
    height: auto;
}

.rodape-pagina {
    /*css do rodapé da página*/
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: black;
    background-color: white;
    padding: 5px;
}


/*
    cores do ícone no "head":
    branco:HEX : #ffffff / RGB : 255, 255, 255 / HSL  : 360, 0%, 100%
    fundo: HEX : #fef9f5 / RGB : 254, 249, 245 / HSL  : 26, 81%, 97%
    letras: HEX : #c2b68b / RGB : 194, 182, 139 / HSL  : 46, 31%, 65%
    siglas:HEX : #ceb98f / RGB : 206, 185, 143 / HSL  : 39, 39%, 68%
*/